<div class="header">
    <div class="title-section">
        <h1>Projects</h1>
        <div class="create-project">
            <button class="create-project-button" (click)="createNewProject()">
                <i class="pi pi-plus"></i>
            </button>
            <div class="name">Create new Project</div>
        </div>
    </div>
    <div class="menu-bar">
        <input [(ngModel)]="searchTerm" (input)="searchProjects()" placeholder="Search projects">
        <i class="pi pi-search"></i>
    </div>
</div>

<div class="project-cards">
    <div class="project-card" *ngFor="let project of filteredProjects">
        <div class="project-details">
            <h2>{{project.name}}</h2>
            <p>{{project.description}}</p>
        </div>
    </div>
</div>