.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 21px;
    background-color: #ffffff;
    border-bottom: 1px solid #858585;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar-content {
    display: flex;
    align-items: center;
}

.user-name {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-left: 50px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 21px;
    margin-left: 35px;
}

.logo {
    width: 170px;
    height: auto;
    margin-left: -20px;
}

.icon-button i {
    color: #434343;
}