<p-toast></p-toast>
<div class="card">
    <i class="close-icon pi pi-times" (click)="closeDialog()"></i>
    <p class="new-project">Create new project</p>

    <form class="form" [formGroup]="createProjectForm" (ngSubmit)="createProject()">

        <div class="field">
            <label for="name">Project Name</label>
            <input type="text" pInputText formControlName="name" class="w-full" name="name" />
            <small *ngIf="name.invalid && (name.dirty || name.touched)" class="block p-error">
                <div *ngIf="name.errors?.['required']">Project name is required.</div>
            </small>
        </div>
        
        <div class="field">
            <label for="description">Project Description</label>
            <!-- <input type="text" pInputText formControlName="description" class="w-full" name="description" /> -->
            <textarea type="text" pInputText formControlName="description" class="w-full" name="description"></textarea>
            <small *ngIf="description.invalid && (description.dirty || description.touched)" class="block p-error">
                <div *ngIf="description.errors?.['required']">Project description is required.</div>
            </small>
        </div>

        <button pButton pRipple class="p-button-raised p-button-danger p-button-text w-full" label="Create project" [disabled]="createProjectForm.invalid" type="submit"></button>

    </form>
</div>