<p-toast></p-toast>
<div class="zoom-class flex justify-content-center align-items-center h-full">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <p-card header="Reset Password" [style]="{width: '360px' }">
            <div class="field">
                <label for="email">Email</label>
                <input type="text" pInputText formControlName="email" class="w-full" name="email"
                    placeholder="Type your email" />
                <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                    <div *ngIf="email.errors?.['email']">Email should be valid.</div>
                </small>
            </div>

            <p-button label="Send Email" styleClass="w-full" [disabled]="resetPasswordForm.invalid" type="submit"></p-button>
            
            <div class="mt-2">
                Remembered your password? <a routerLink="/login">Sign in</a>
            </div>
        </p-card>
    </form>
</div>