:host {
    display: block;
    height: 100vh;
    background: url('../../../../assets/background6.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* :host {
    display: block;
    height: 100vh;
    background: url('../../../../assets/crop-softyflow2.gif') repeat; 
    background-size: 20px;
} */

.zoom-class{
    /* zoom: 0.8; */
    transform: scale(0.8)
}